.container{
    display: flex;
    flex-wrap: wrap;
}

header{
    background-color: #CDB9F6;
    padding: 1rem 10%;
    font-family: "Bookman Old Style";
}

main {
    background: linear-gradient(to top, #FF9292, #CDB9F6) no-repeat;
    padding: 2rem 15%;
}

.header_home{
    padding : 10px 1em 0 0.5em;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}


.header-logo {
    font-size: 0.7rem;
    font-weight: normal;
}

.header-logo img {
    max-width: 42px;
    margin-right: 5px;
}

header a{
    text-decoration: none;
    color: black;
}

.container-footer{
    background-color: #FF9292;
    padding: 1rem 0;
    text-align: center;
}

body{
    display: grid;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
    grid-auto-rows: 0fr 1fr 0fr;
    margin: 0;
}

.wish-list div{
    padding: 1rem 10%;
}

.wish-one {
    text-align: center;
    font-size: 15px;
}

.wish-one h2 {
    font-family: "Comic Sans MS";
}

main h1 {
    padding: 10px 0 0 2.9em;
}

.wish-list a {
    text-decoration: none;
    color: midnightblue;
    font-size: 20px;
    font-family: "impact";
}

.form_wish {
    display: block;
    width: 150px;
    float: left;
}

.form_title {
    padding: 0.1rem 39%;
}

.alert-success {
    text-align: center;
    color: green;
    padding: 1rem 2% 0 0;
    padding-top: 1rem;
    width: 100%;
    background: linear-gradient(to top, #B1F7AC, #CDB9F6) no-repeat;
    padding-top: 50px;
}

